<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sjsu.cme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >

            <!--
                 <meta-data android:name="android.app.default_searchable"
                   android:value=".SearchableActivity" />
            -->
            <!--
                 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <!--
             <activity
            android:name=".SearchableActivity" >
            <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
        <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
        </activity>
        -->


        <!--
                     <service android:name=".LocalService" android:stopWithTask="true" />

        <activity android:name=".LocalServiceActivities$Controller"
                android:label="@string/activity_local_service_controller"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".LocalServiceActivities$Binding"
                android:label="@string/activity_local_service_binding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        -->


        <!--
             <service
            android:name=".AlarmService_Service"
            android:process=":remote" />

        <activity
            android:name=".AlarmService"
            android:label="@string/activity_alarm_service" >
        </activity>
        -->

        <activity
            android:name=".GraphActivity"
            android:label="@string/title_activity_graph"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfilingActivity"
            android:label="@string/title_activity_profiling" >
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name=".ViewDataActivity"
            android:label="@string/title_activity_view_data" >
        </activity>
        <activity
            android:name=".SendDataToServerActivity"
            android:label="@string/title_activity_send_data_to_server" >
        </activity>
    </application>

</manifest>